@charset "UTF-8";
/**
 * =============================================================================
 * Fonts
 * =============================================================================
 */
/**
 * Base font size (em base).
 * As the name says, this value serves as base font size for every
 * relative sizing needs.
 * -----------------------------------------------------------------------------
 */
/**
 * =============================================================================
 * Responsive
 * =============================================================================
 */
/**
 * =============================================================================
 * Colors
 * =============================================================================
 */
/**
 * =============================================================================
 * Dimensions
 * =============================================================================
 */
/**
 * Spacing
 * -----------------------------------------------------------------------------
 */
/**
 * Borders
 * -----------------------------------------------------------------------------
 */
/**
 * =============================================================================
 * Helpers
 * =============================================================================
 */
/**
 * =============================================================================
 * Image replacement
 * =============================================================================
 */
/**
 * =============================================================================
 * Truncate (3 dot cut text)
 * =============================================================================
 */
/**
 * =============================================================================
 * Hover and focus
 * =============================================================================
 */
/**
 * =============================================================================
 * Border radius
 * =============================================================================
 */
/**
 * =============================================================================
 * Box shadow
 * =============================================================================
 */
/**
 * =============================================================================
 * Rotate
 * =============================================================================
 */
/**
 * =============================================================================
 * Animation
 * =============================================================================
 */
/**
 * =============================================================================
 * Opacity
 * =============================================================================
 */
/**
 * Always convert pixel values to em values with 16px as em base.
 * Useful when you've defined different em base for the whole project
 * but want your media queries in ems (since they *always* take 16px as base).
 */
/**
 * Return value in pixels.
 * Useful when you have numbers as variables and don’t want to bother with
 * concatenation of strings.
 */
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * =============================================================================
 * Reset
 * =============================================================================
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*behavior: url(/javascript/boxsizing.htc);*/
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, p, pre {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*html                        { font-size: 1em; line-height: 1; }*/
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label[for] {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

iframe {
  border: 0;
}

::-webkit-input-placeholder {
  color: #252525;
  opacity: 1;
}

:-moz-placeholder {
  color: #252525;
  opacity: 1;
}

::-moz-placeholder {
  color: #252525;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #252525;
  opacity: 1;
}

/*html                        { font: 100%/1.5 'museo-sans', 'Open Sans', Arial, Tahoma, Helvetica, sans-serif; font-weight: 400; }*/
html, body {
  height: 100%;
}

body {
  word-wrap: break-word;
}

abbr {
  font-variant: small-caps;
}

dl dd {
  margin-left: 0;
}

ul ul, ol ol {
  list-style-type: none;
}

@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/crimsontext-italic-webfont.woff2") format("woff2"), url("../fonts/crimsontext-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/crimsontext-roman-webfont.woff2") format("woff2"), url("../fonts/crimsontext-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/**
 * =============================================================================
 * Core
 * =============================================================================
 */
html,
body {
  height: 100%;
}

html {
  font-size: 75%;
}

body {
  background-color: #fff;
  color: #292a2e;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  text-decoration: underline;
  outline: 0;
}

h1,
h2,
h3 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
}

.Container {
  min-width: 320px;
}

.u-inner {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.u-isHiddenVisually {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
}

.Header {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 900;
}

@media screen and (min-width: 37.5em) {
  .Header-inner {
    display: table;
    width: 100%;
  }
}

@media screen and (min-width: 50em) {
  .Header-group {
    display: table-cell;
    padding: 30px 0;
    vertical-align: bottom;
  }
}

.Header-wrapLogo {
  padding: 30px 0;
  text-align: center;
}

@media screen and (min-width: 64em) {
  .Header-wrapLogo {
    margin-bottom: -15px;
    padding: 0;
    text-align: left;
  }
}

.Header-wrapLogoAlt {
  display: none;
}

.Header-wrapTools {
  display: none;
}

@media screen and (min-width: 64em) {
  .Header-wrapTools {
    display: block;
    text-align: right;
  }
}

.Header-wrapNav {
  display: none;
  text-align: right;
}

@media screen and (min-width: 64em) {
  .Header-wrapNav {
    display: block;
    margin-top: 20px;
  }
}

.is-stuck .Header-wrapNav {
  display: block;
}

.Logo {
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: left;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(../images/logo-m.png?v=1);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 200px 44px;
  height: 44px;
  width: 200px;
}

@media screen and (min-width: 37.5em) {
  .Logo {
    background-image: url(../images/logo.png?v=1);
    background-size: 300px 66px;
    height: 66px;
    width: 300px;
  }
}

.LogoAlt {
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: left;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/logo-small.png?v=1) no-repeat 0 0/40px 47px;
  height: 47px;
  width: 40px;
}

.Nav-item {
  display: inline-block;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 1.4166666667em;
  letter-spacing: 0.0588235294em;
  margin-left: 30px;
}

.Nav-item:first-child {
  margin-left: 0;
}

.Nav-item.active {
  border-bottom: 3px solid #fff;
}

.Nav-item a {
  color: #fff;
}

.Nav-item a:hover, .Nav-item a:focus {
  text-decoration: none;
  outline: 0;
}

@media screen and (min-width: 75em) {
  .Nav-item {
    margin-left: 40px;
  }
}

.Header.is-stuck {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.admin-bar .Header.is-stuck {
  top: 32px;
}

.Header.is-stuck .Header-group {
  vertical-align: middle;
  padding: 10px 0;
}

.Header.is-stuck .Header-wrapLogo {
  display: none;
}

.Header.is-stuck .Header-wrapLogoAlt {
  display: block;
}

.Header.is-stuck .Header-wrapTools {
  display: none;
}

.Header.is-stuck .Header-wrapNav {
  margin-top: 0;
}

.Header.is-stuck .Nav-item.active {
  border-color: #a78c62;
}

.Header.is-stuck .Nav-item a {
  color: #292a2e;
}

.Tools-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 1.4166666667em;
  letter-spacing: 0.0588235294em;
  margin-left: 40px;
}

.Tools-item:first-child {
  margin-left: 0;
}

.Tools-item strong {
  color: #fff;
  font-weight: inherit;
}

.Hero {
  position: relative;
}

.Hero-wrapCarousel {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Hero-inner {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
  padding: 140px 0 120px;
  pointer-events: none;
  position: relative;
}

@media screen and (min-width: 37.5em) {
  .Hero-inner {
    padding: 160px 0 200px;
  }
}

@media screen and (min-width: 50em) {
  .Hero-inner {
    padding: 220px 60px 300px;
  }
}

@media screen and (min-width: 64em) {
  .Hero-inner {
    padding: 290px 60px 350px;
  }
}

.Hero-title {
  font-size: 4em;
  line-height: 1;
}

@media screen and (min-width: 37.5em) {
  .Hero-title {
    font-size: 5.6666666667em;
  }
}

@media screen and (min-width: 50em) {
  .Hero-title {
    font-size: 6.6666666667em;
  }
}

@media screen and (min-width: 64em) {
  .Hero-title {
    font-size: 8em;
  }
}

.Hero-text {
  display: none;
}

@media screen and (min-width: 37.5em) {
  .Hero-text {
    display: block;
    margin-top: 5px;
  }
  .Hero-text p {
    font-size: 2.6666666667em;
    letter-spacing: 0.03125em;
  }
}

.Block {
  padding: 50px 0;
}

@media screen and (min-width: 50em) {
  .Block {
    padding: 70px 0;
  }
}

@media screen and (min-width: 64em) {
  .Block {
    padding: 100px 0;
  }
}

@media screen and (min-width: 50em) {
  .Block--overlap {
    margin-top: -80px;
    padding-top: 0;
    position: relative;
  }
}

.Block--noSpacing {
  padding: 0;
}

.Block--gray {
  background-color: #f2f2f2;
  padding: 50px 0;
}

@media screen and (min-width: 50em) {
  .Block--gray {
    padding: 90px 0;
  }
}

@media screen and (min-width: 64em) {
  .Block--gray {
    padding: 130px 0;
  }
}

.Block--bg {
  background-color: #103166;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 150px;
}

.Block-title {
  font-size: 4.6666666667em;
  text-align: center;
}

@media screen and (min-width: 37.5em) {
  .Block-title {
    font-size: 5.3333333333em;
  }
}

.Block-title--line {
  padding-top: 17px;
  position: relative;
}

.Block-title--line:before {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #a78c62;
  content: '';
  height: 3px;
  width: 168px;
}

.Block-title--medium {
  font-size: 4em;
}

.Block-title--small {
  font-size: 2.6666666667em;
}

.Block-title--left {
  text-align: left;
}

.Block-text {
  text-align: center;
  margin: 30px auto 0;
  max-width: 680px;
}

.Block-text p {
  font-size: 1.6666666667em;
  line-height: 1.5;
  letter-spacing: 0.055em;
}

.Block-text--narrow {
  max-width: 480px;
}

.Block-wrapButton {
  text-align: center;
  margin-top: 45px;
}

.Block-wrapContact {
  margin-top: 40px;
}

.Block-wrapTabs {
  display: none;
}

@media screen and (min-width: 50em) {
  .Block-wrapTabs {
    display: block;
    margin-top: 65px;
  }
}

.Block-wrapTabContent {
  margin-top: 30px;
}

@media screen and (min-width: 50em) {
  .Block-wrapTabContent {
    margin-top: 65px;
  }
}

.Button {
  background-color: #a78c62;
  color: #fff;
  border-radius: 10em;
  border: 0;
  display: inline-block;
  font-size: 1.4166666667em;
  line-height: 1;
  padding: 17px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.Button--ghost {
  background-color: transparent;
  border: 2px solid #fff;
}

.Button--submit {
  border: 5px solid #fff;
}

.Button--multi {
  margin: 5px;
}

.Button-icon {
  margin: 0 5px 0 0;
}

.Button-icon--right {
  margin: 0 0 0 5px;
}

.Contact:after {
  content: "";
  display: table;
  clear: both;
}

.Contact-group {
  margin-top: 40px;
}

.Contact-group:first-child {
  margin-top: 0;
}

@media screen and (min-width: 50em) {
  .Contact-group {
    float: left;
    margin-top: 0;
    width: 50%;
  }
  .Contact-group--1of3 {
    width: 33.3333333333%;
  }
  .Contact-group--2of3 {
    width: 66.6666666667%;
  }
}

.ContactList {
  margin-top: 20px;
}

.ContactList-item {
  margin-top: 10px;
}

.ContactList-item:after {
  content: "";
  display: table;
  clear: both;
}

.ContactList-item:first-child {
  margin-top: 0;
}

.ContactList-item--spacing {
  margin-top: 50px;
}

@media screen and (min-width: 64em) {
  .ContactList-label,
  .ContactList-value {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
  }
}

.ContactList-label {
  color: #a78c62;
  font-size: 1.0833333333em;
  letter-spacing: 0.0833333333em;
  text-transform: uppercase;
}

@media screen and (min-width: 64em) {
  .ContactList-label {
    text-align: right;
    width: 110px;
    margin-right: 15px;
  }
}

.ContactList-value {
  font-size: 1.6666666667em;
  font-family: "Crimson Text", serif;
  font-weight: 400;
}

.Footer {
  padding: 40px 0;
}

@media screen and (min-width: 37.5em) {
  .Footer {
    padding: 80px 0;
  }
}

.Footer-group {
  margin-top: 40px;
}

.Footer-group:first-child {
  margin-top: 0;
}

@media screen and (min-width: 50em) {
  .Footer-group {
    display: inline-block;
    margin-right: -4px;
    margin-top: 0;
    vertical-align: middle;
    width: 50%;
  }
}

@media screen and (min-width: 50em) {
  .Footer-wrapCopyright {
    text-align: right;
  }
}

.Copyright {
  color: #7f7f82;
  font-size: 1.1666666667em;
  font-weight: 300;
  letter-spacing: 0.0428571429em;
  padding-top: 33px;
  position: relative;
}

.Copyright:before {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #a78c62;
  content: '';
  height: 3px;
  width: 168px;
}

@media screen and (min-width: 50em) {
  .Copyright:before {
    left: auto;
    right: 0;
  }
}

.Media-item {
  margin-top: 20px;
}

.Media-item:first-child {
  margin-top: 0;
}

.Media-item.is-hidden {
  display: none;
}

@media screen and (min-width: 50em) {
  .Media-item {
    margin-top: 0;
  }
}

@media screen and (min-width: 50em) {
  .Media--count_3 {
    margin: 0 -10px;
  }
  .Media--count_3:after {
    content: "";
    display: table;
    clear: both;
  }
  .Media--count_3 .Media-item {
    padding: 0 10px;
    float: left;
    width: 33.3333333333%;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 49.9375em) {
  .ArticleDefault {
    margin-left: -10px;
    margin-right: -10px;
  }
  .ArticleDefault:after {
    content: "";
    display: table;
    clear: both;
  }
}

.ArticleDefault-group {
  margin-top: 20px;
}

.ArticleDefault-group:first-child {
  margin-top: 0;
}

@media screen and (min-width: 37.5em) and (max-width: 49.9375em) {
  .ArticleDefault-group {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-top: 0;
  }
}

.ArticleDefault-image {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

@media screen and (min-width: 50em) {
  .ArticleDefault-image {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  }
}

.ArticleDefault-title {
  font-size: 2.6666666667em;
  line-height: 1.25;
}

.ArticleDefault-text {
  color: #545558;
  margin-top: 15px;
}

.ArticleDefault-text p {
  font-size: 1.4166666667em;
  line-height: 1.5789473684;
  letter-spacing: 0.0421052632em;
}

@media screen and (min-width: 64em) {
  .ArticleDefault-text p {
    font-size: 1.5833333333em;
  }
}

.ArticleBox {
  background-color: #fff;
}

@media screen and (min-width: 50em) {
  .ArticleBox {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .ArticleBox.is-odd {
    direction: rtl;
  }
}

@media screen and (min-width: 50em) {
  .ArticleBox-group {
    display: table-cell;
    vertical-align: middle;
    direction: ltr;
    width: 50%;
  }
}

.ArticleBox-group--text {
  padding: 20px;
}

@media screen and (min-width: 50em) {
  .ArticleBox-group--text {
    padding: 30px;
  }
}

@media screen and (min-width: 64em) {
  .ArticleBox-group--text {
    padding: 40px 85px;
  }
}

.ArticleBox-image {
  display: block;
  height: auto;
  width: 100%;
}

.ArticleBox-title {
  font-size: 3em;
  line-height: 1.1666666667;
}

.ArticleBox-text {
  margin-top: 20px;
}

.ArticleBox-text p {
  font-size: 1.3333333333em;
  line-height: 1.75;
  letter-spacing: 0.0375em;
}

.Tabs {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.Tabs ul {
  border: 1px solid #ddd;
  border-bottom: 0;
  display: inline-block;
  vertical-align: top;
}

.Tabs ul:after {
  content: "";
  display: table;
  clear: both;
}

.Tabs-item {
  border-left: 1px solid #ddd;
  float: left;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1;
}

.Tabs-item.is-active {
  background-color: #f7f7f7;
}

.Tabs-item:first-child {
  border-left: 0;
}

.Tabs-item a {
  display: block;
  padding: 15px 25px;
}

@media screen and (min-width: 64em) {
  .Tabs-item {
    font-size: 1.75em;
  }
  .Tabs-item a {
    padding: 20px 35px;
  }
}

.TabContent {
  margin-top: 40px;
}

.TabContent:first-child {
  margin-top: 0;
}

@media screen and (min-width: 50em) {
  .TabContent {
    display: none;
    margin-top: 0;
  }
  .TabContent.is-active {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}

.TabContent-title {
  font-size: 3.5em;
  line-height: 1.1428571429;
  text-align: center;
}

@media screen and (min-width: 50em) {
  .TabContent-title {
    display: none;
  }
}

.TabContent-group {
  margin-top: 20px;
}

@media screen and (min-width: 50em) {
  .TabContent-group {
    display: table-cell;
    margin-top: 0;
    vertical-align: top;
    width: 50%;
  }
}

.TabContent-image {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 50em) {
  .TabContent-group--text {
    padding: 0 0 0 30px;
  }
}

@media screen and (min-width: 64em) {
  .TabContent-group--text {
    padding: 40px 0 40px 110px;
  }
}

.Text p {
  font-size: 1.3333333333em;
  line-height: 1.75;
  margin-top: 20px;
  letter-spacing: 0.0375em;
}

.Text p:first-child {
  margin-top: 0;
}

.Text h3 {
  font-size: 3em;
  margin-top: 45px;
}

.Text h3:first-child {
  margin-top: 0;
}

.Text img.alignleft {
  display: block;
  height: auto;
  max-width: 180px;
  margin-bottom: 10px;
  width: auto;
}

@media screen and (min-width: 37.5em) and (max-width: 49.9375em), screen and (min-width: 64em) {
  .Text img.alignleft {
    float: left;
    margin-bottom: 0;
    margin-right: 35px;
  }
}

@media screen and (min-width: 64em) {
  .Text img.alignleft {
    margin-left: -45px;
  }
}

.Form-row {
  margin: 20px -20px 0;
}

.Form-row:first-child {
  margin-top: 0;
}

@media screen and (min-width: 37.5em) {
  .Form-row {
    margin-top: 30px;
  }
}

.Form-row--count_2 .Form-col {
  margin-top: 20px;
}

.Form-row--count_2 .Form-col:first-child {
  margin-top: 0;
}

@media screen and (min-width: 37.5em) {
  .Form-row--count_2:after {
    content: "";
    display: table;
    clear: both;
  }
  .Form-row--count_2 .Form-col {
    float: left;
    margin-top: 0;
    width: 50%;
  }
}

.Form-col {
  padding: 0 20px;
}

.Form-wrapButton {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.Form-message {
  background-color: #107232;
  color: #fff;
  display: none;
  font-size: 1.4166666667em;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.Form-message.is-active {
  display: block;
}

.Input {
  background-color: #f2f2f2;
  border: 0;
  color: #292a2e;
  display: block;
  font-size: 1.3333333333em;
  width: 100%;
  padding: 15px 20px;
}

.Input.has-error {
  background-color: #ffe9e9;
}

.Input::-webkit-input-placeholder {
  color: #c1c2c8;
}

.Input::-moz-placeholder {
  color: #c1c2c8;
}

.Input:-moz-placeholder {
  color: #c1c2c8;
}

.Input:-ms-input-placeholder {
  color: #c1c2c8;
}

.Input--textarea {
  resize: vertical;
}

.Gallery {
  overflow: hidden;
}

.Gallery ul:after {
  content: "";
  display: table;
  clear: both;
}

.Gallery-item {
  float: left;
  position: relative;
  width: 50%;
}

.Gallery-item img {
  display: block;
  height: auto;
  width: 100%;
}

@media screen and (min-width: 37.5em) {
  .Gallery-item {
    width: 25%;
  }
}

.Gallery-hover {
  display: none;
}

.touchevents .Gallery-hover {
  display: none;
}

@media screen and (min-width: 64em) {
  .Gallery-hover {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    background: url(../images/gradient.png) repeat-y 0 0/100% auto;
    color: #fff;
    display: block;
    font-size: 2em;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    text-align: center;
    opacity: 0;
  }
  .Gallery-item:hover .Gallery-hover {
    opacity: 1;
  }
}

.Gallery-hoverInner {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  left: 20px;
  display: block;
}

.Gallery-wrapIcon {
  display: block;
  text-align: center;
}

.Icon {
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: left;
  text-indent: -9999px;
  overflow: hidden;
}

.Icon--zoom {
  background: url(../images/zoom.png) no-repeat 0 0/100px 100px;
  height: 100px;
  width: 100px;
}

.Partners img {
  display: block;
  height: auto;
  width: 80px;
}

.Carousel {
  width: 100%;
  height: 100%;
}

.Carousel-cell {
  background-color: #a86570;
  background-position: 20% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  height: 100%;
  width: 100%;
}

.Carousel-cell:first-child {
  display: block;
}

.flickity-enabled .Carousel-cell {
  display: block;
}

.screen-reader-response,
.wpcf7-display-none {
  display: none;
}

.wpcf7-not-valid-tip {
  color: #d50000;
  display: block;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5;
}

.wpcf7-response-output {
  background-color: #f1aa00;
  border: 0;
  color: #fff;
  font-size: 1.1666666667em;
  letter-spacing: 0.0605882353em;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
}

.wpcf7-validation-errors {
  background-color: #d50000;
}

.wpcf7-mail-sent-ok {
  background-color: #00b71d;
}

/*# sourceMappingURL=global.css.map */